{{ form_start(form) }}
<div class="text-center">
    <table>
        <tbody>
            <tr>
                <th>{{ form_label(form.nomLieu) }}</th>
                <td>{{ form_widget(form.nomLieu) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.rue) }}</th>
                <td>{{ form_widget(form.rue) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.latitude) }}</th>
                <td>{{ form_widget(form.latitude) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.longitude) }}</th>
                <td>{{ form_widget(form.longitude) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.ville) }}</th>
                <td>{{ form_widget(form.ville) }}</td>
                <td><a href="{{ path('app_ville_new') }}">
                        <button type="button" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                            Ajouter une ville
                        </button>
                    </a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    <a href="{{ path('sortie_index') }}" class="btn btn-primary">Retour</a>
{{ form_end(form) }}



