{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Participant index</h1>
        <div class="row">
            <div class="col-12 cadre-table-scroll">
                <table class="text-center table table-bordered table-striped border-dark table-scroll">
                    <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Administrateur</th>
                            <th>Actif</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.nom }}</td>
                            <td>{{ participant.prenom }}</td>
                            <td>
                                {% if ( participant.administrateur) %}
                                <p>Admin</p>
                                <a href="{{ path('app_affecter_role_admin', {'id': participant.id}) }}"> Destituer de ce rôle</a>:
                                {% endif %}
                                {% if ( not participant.administrateur) %}
                                <a href="{{ path('app_affecter_role_admin', {'id': participant.id}) }}">affecter le role admin</a>
                                {% endif %}
                            </td>
                            <td>{% if ( participant.actif) %}
                                    <a href="{{ path('app_activer_utilisateur', {'id': participant.id}) }}"> Désactiver cet utilisateur</a>:
                                {% endif %}
                                {% if ( not participant.actif) %}
                                    <a href="{{ path('app_activer_utilisateur', {'id': participant.id}) }}"> Activer cet utilisateur</a>
                                {% endif %}

                            <td>
                                <a href="{{ path('app_participant_show', {'id': participant.id}) }}">Afficher le profil</a>
                                <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Editer le profil</a>
                                <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Supprimer l'utilisateur</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_participant_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}