{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

            <h1>Create new Participant</h1>
        {{ form_start(form) }}
        {% for message in app.flashes('notification') %}
            <div class="alert alert-info alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-4">
                <div class="photo">
                    <img src="/img/participant/photo_profil_defaut.png" class="img-thumbnail" alt="Photo de profil">
                    {#{% if app.user.urlPhotoProfil != 'img/participant/photo_profil_defaut.png' %}
                        <a class="btn btn-primary" href = "{{ path('supprimer_image', {'id' : app.user.id}) }}">Supprimer l'image</a>
                    {% endif %}#}
                </div>

            </div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.pseudo) }}</th>
                            <td>{{ form_widget(form.pseudo) }}</td>
                            <td>{{ form_errors(form.pseudo) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.prenom) }}</th>
                            <td>{{ form_widget(form.prenom) }}</td>
                            <td>{{ form_errors(form.prenom) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.nom) }}</th>
                            <td>{{ form_widget(form.nom) }}</td>
                            <td>{{ form_errors(form.nom) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.telephone) }}</th>
                            <td>{{ form_widget(form.telephone) }}</td>
                            <td>{{ form_errors(form.telephone) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.mail) }}</th>
                            <td>{{ form_widget(form.mail) }}</td>
                            <td>{{ form_errors(form.mail) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.plainPassword) }}</th>
                            <td>{{ form_widget(form.plainPassword) }}</td>
                            <td>{{ form_errors(form.plainPassword) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.site) }}</th>
                            <td>{{ form_widget(form.site) }}</td>
                            <td>{{ form_errors(form.site) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="ligne">
                            <th>{{ form_label(form.imageFile) }}</th>
                            <td>{{ form_row(form.imageFile) }}</td>
                            <td>{{ form_errors(form.imageFile) }}</td>
                        </div>
                    </tr>

                    {{ form_end(form) }}
                    </tbody>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
                    <button class="btn btn-primary" onclick="window.location.href = '{{ path('sortie_index') }}';">Retour</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
