{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="photo"><img src="{{ asset(app.user.urlPhotoProfil) }}" alt="Photo de profil"></div>
    <table class="table">
        <tbody>
            <tr>
                <th>Prenom :</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Téléphone :</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Site de rattachement :</th>
                <td>{{ participant.site.nomSite }}</td>
            </tr>
        </tbody>
    </table>

    {% if ( participant == app.user) %}
        <button class="btn" onclick="window.location.href = '{{ path('app_participant_edit', {'id': participant.id}) }}';">Modifier mon profil</button>
    {% endif %}

{% endblock %}
