{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="row">
                <h1>{{ participant.pseudo }}</h1>
            <div class="col-4">
                <div class="photo">
                    <img src="{{ asset(app.user.urlPhotoProfil) }}" class="img-thumbnail" alt="Photo de profil">
                </div>
            </div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Prenom :</th>
                            <td>{{ participant.prenom }}</td>
                        </tr>
                        <tr>
                            <th>Nom :</th>
                            <td>{{ participant.nom }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone :</th>
                            <td>{{ participant.telephone }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>{{ participant.mail }}</td>
                        </tr>
                        <tr>
                            <th>Site de rattachement :</th>
                            <td>{{ participant.site.nomSite }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if ( participant == app.user) %}
                    <button class="btn btn-primary" onclick="window.location.href = '{{ path('app_participant_edit', {'id': participant.id}) }}';">Modifier mon profil</button>
                    <button class="btn btn-primary">Annuler</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
