{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Création d'une sortie</h1>

            <div class="col-5 offset-1">
                {{ form_start(form) }}

                <div class="ligne">
                    {{ form_label(form.nomSortie) }}
                    {{ form_widget(form.nomSortie) }}
                    {{ form_errors(form.nomSortie) }}
                </div>

                <div class="ligne">
                    {{ form_label(form.dateDebut) }}
                    {{ form_widget(form.dateDebut) }}
                    {{ form_errors(form.dateDebut) }}
                </div>

                <div class="ligne">
                    {{ form_label(form.dateCloture) }}
                    {{ form_widget(form.dateCloture) }}
                    {{ form_errors(form.dateCloture) }}
                </div>

                <div class="ligne">
                    {{ form_label(form.nbInscriptionsMax) }}
                    {{ form_widget(form.nbInscriptionsMax) }}
                    {{ form_errors(form.nbInscriptionsMax) }}
                </div>

                <div class="ligne">
                    {{ form_label(form.duree) }}
                    {{ form_widget(form.duree) }} minutes
                    {{ form_errors(form.duree) }}
                </div>

                <div class="ligne">
                    {{ form_label(form.detailSortie) }}
                    {{ form_widget(form.detailSortie) }}
                    {{ form_errors(form.detailSortie) }}
                </div>

                <div class="ligne">
                    <th>{{ form_label(form.imageFile) }}</th>
                    <td>{{ form_row(form.imageFile) }}</td>
                    <td>{{ form_errors(form.imageFile) }}</td>
                </div>

                <div class="form-check form-switch">
                    <input name="boutonPublier" class="form-check-input" type="checkbox" role="switch" value="{{ field_name(form.publie)}}">Publier</input>
                </div>

            </div>
            <div class="col-5 offset-1">
                <div class="ligne" id="selectLieu" onchange="changement()">
                    {{ form_label(form.lieu) }}
                    {{ form_widget(form.lieu) }}
                    {{ form_errors(form.lieu) }}
                    {#                    {{ form_row(form.lieu) }}#}
                </div>

                <div id="detailsLieu">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 offset-1">

                <input type="submit" class="btn btn-primary" value="Ajouter">
                {{ form_end(form) }}


                <a href="{{ path('sortie_index') }}"><button class="btn btn-primary">Annuler</button></a>
            </div>
        </div>
    </div>

    <script>
        const VILLE = "Ville : ";
        const RUE = "Rue : ";
        const CP = "Code Postal : ";
        const LATITUDE = "Latitude : ";
        const LONGITUDE = "Longitude : ";

        let selectLieu = document.getElementById('selectLieu');
        let divDetailsLieu = document.getElementById('detailsLieu');

        onload(changement());

        function changement() {
            //Appel asynchrone à l'api
            let id = document.getElementById("sortie_lieu").value;
            fetch(
                "http://127.0.0.1:8000/afficher/lieu/api/"+id
            )
                .then((reponse)=> reponse.json())
                .then((donnees) =>{
                        divDetailsLieu.innerText='';
                        let nouvelElement = document.createElement("p");
                        nouvelElement.innerHTML = '<p>' + RUE + donnees.rue + '</p> <p>' + LATITUDE + donnees.lat + '</p><p>' + LONGITUDE + donnees.lon;
                        divDetailsLieu.appendChild(nouvelElement);
                    }
                );
        }
    </script>
{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}