{% extends 'base.html.twig' %}
{% block title %}Liste sorties{% endblock %}
{% block body %}
    <div class="container-sm">
            <h3 class="d-flex justify-content-end">Date du jour : {{'now'|date('d/m/Y')}}</h3>
            {% if (app.user) %}
                <h3 class="d-flex justify-content-end">Participant : {{ app.user.pseudo }}</h3>
            {% endif %}

            <h4>Filtrer les sorties</h4>
            {# Sélection du site #}
            <div class="row">
                <div class="col-5">
                    <div class="ligne">
                        <label for="selectSite">Site : </label>
                        <select class="form-select form-control-" name="selectSite" id="selectSite">
                            {% for site in sites %}
                                <option value="{{ site.id }}">{{ site.nomSite }}</option>
                            {% endfor %}
                        </select>
                    </div>

                     {# Champs de recherche #}
                    <div class="ligne">
                        <label for="inputRecherche">Le nom de la sortie contient : </label>
                        <input type="text" id="inputRecherche" name="inputRecherche" placeholder="Recherche">
                    </div>

                    {# Sélection d'une intervalle de dates #}
                    <div class="ligne">
                    </div>
                </div>

                <div class="col-4 offset-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
                </div>
            </div>
            {# Affichage de la liste des sorties #}
        <div class="row">
            <div class="col-12">
                <ul>
                    {% for sortie in sorties %}
                        <li class="">{{ sortie.nomSortie }} | {{ sortie.dateDebut | date ('d/m/Y H:i:s', 'Europe/Paris')}} | {{ sortie.dateCloture | date ('d/m/Y H:i:s', 'Europe/Paris')}} | {{ sortie.nbInscriptionsMax }} | {{ sortie.etat.libelle }} | {{ sortie.organisateur.pseudo }} | <a href="{{ path('details_index', {'id': sortie.id} ) }}">Détails</a> </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('sortie_ajout') }}"></a><button type="button" class="btn btn-primary">Créer une sortie</button>
            </div>
        </div>
    </div>
{% endblock %}