{% extends 'base.html.twig' %}

{% block title %}Liste sorties{% endblock %}

{% block body %}
    <div class="container-sm">
            <h3 class="d-flex justify-content-end">Date du jour : {{'now'|date('d/m/Y')}}</h3>
            {% if (app.user) %}
                <h3 class="d-flex justify-content-end">Participant : {{ app.user.pseudo }}</h3>
            {% endif %}

        <div class="row">

                <h4>Filtrer les sorties</h4>
                {# Sélection du site #}
            <div class="col-5 ">
                    <label for="selectSite">Site : </label>
                    <select class="form-select" name="selectSite" id="selectSite">
                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.nomSite }}</option>
                        {% endfor %}
                    </select>

                {# Champs de recherche #}
                <div class="ligne">
                    <label for="inputRecherche">Le nom de la sortie contient : </label>
                    <input type="text" id="inputRecherche" name="inputRecherche" placeholder="Recherche">
                </div>
            </div>
            {# Sélection d'une intervalle de dates #}
            <div class="col-5 ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Sorties passées</label>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
            </div>
        </div>


    
        {# Affichage de la liste des sorties #}
        <div class="row">
            <div class="col-12">
                <table class="text-center table table-bordered table-striped border-dark">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nomSortie }}</td>
                            <td> {{ sortie.dateDebut | date ('d/m/Y H:i:s', 'Europe/Paris')}}</td>
                            <td>{{ sortie.dateCloture | date ('d/m/Y H:i:s', 'Europe/Paris')}}</td>
                            <td>  XXX | {{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }} </td>
                            <td>{% set inscrit = false %}
                                {% for inscriptionSortie in app.user.inscription %}
                                    {% if inscriptionSortie == sortie %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if inscrit %}
                                    X
                                {% endif %}
                            </td>
                            <td>{{ sortie.organisateur.pseudo }}</td>
                            <td><a href="{{ path('details_index', {'id': sortie.id} ) }}" class="text-decoration-none">Détails</a>
                                {% if (sortie.dateCloture|date("U")> 'now'|date("U") ) %}
                                    <a href="{{ path('app_inscription_sortie', {'sortie': sortie.id} ) }}" class="text-decoration-none">
                                        {% if inscrit %}
                                            Se désister
                                        {% endif %}
                                        {% if not inscrit %}
                                            S'inscrire
                                        {% endif %}</a>
                                {% endif %}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('sortie_ajout') }}"><button class="btn btn-primary">Créer une sortie</button></a>
            </div>
        </div>
    </div>

{% endblock %}