{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Ville</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>NomVille</th>
                    <th>CodePostal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.id }}</td>
                    <td>{{ ville.nomVille }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a href="{{ path('app_ville_show', {'id': ville.id}) }}">Détails</a>
                        <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_ville_new') }}" class="btn btn-primary">Créer une nouvelle ville</a>
        <a href="{{ path('sortie_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
